<div data-turbo="false">
<header>
	<a href="/"><div id="logo" class="unifrakturcook-bold">Machiavelli</div></a>
</header>

<nav id="menu">
	<div id="pages">
		<a href="/roles" class="menu-item">Roles</a>
		<a href="/about" class="menu-item">About</a>
		<a href="/restart-game" class="menu-item">Restart</a>
	</div>
</nav>
</div>
