<%= render 'top' %>

<%= turbo_frame_tag "turbomain" do %>
<article >

<section class="small-section">
<h1>Why created?</h1>
<p>Game created by A. M. Wojcik for as a demo for possible future employers.</p>
</section>


<section class="small-section">
<h1>Image sources:</h1>
<p>Cards (Free Domain): https://tekeye.uk/playing_cards/svg-playing-cards</p>
</section>
<a href="/" class="navigation-significant-link" data-turbo="false">Back</a>

</article>
<% end %>