<%= turbo_frame_tag "turbomain" do %>
<h1>Why created?</h1>
<p>Game created by A. M. Wojcik for as a demo for possible future employers. Github: <a href="https://github.com/ArthurMaxWj/machiavelli"><u>https://github.com/ArthurMaxWj/machiavelli</u></a>, deployed at: ???</p>
<h1>How to play?</h1>
<p></p>
<h1>Image sources:</h1>
<p>Cards (Free Domain): https://tekeye.uk/playing_cards/svg-playing-cards</p>
<% end %>