<%= render 'top' %>

<%= turbo_frame_tag "turbomain" do %>
<article>

<section>
<h2>Getting started</h2>
<ol>
    <li>First, I suggest reading  Rules page ;)</li>
    <li>Table is empty, we need to add a combination to begin. Since each player has only 3 cards it's unlikely they can form a combination or gradation.
        Usually it takes many "draw" uses to get enough cards to create a combination. This is the stage from which most of the cards come into the player decks.
        Remember, <b>the less cards you have, the better</b>, so watch closely to see if you can create the combination from already drawn cards.
    </li>
    <li>Once you can create a combination, select 3 cards (<b>in order!</b>) and click "New combination". You can also use <b>keyboard shortcut "n"</b></li>
    <li>If the combination is already o the table, use "Put card" or "p" shortcut to add it to the combination. Simply click on a <b>deck card</b> (a card in your deck as opposed to a table card, a card in combination in a table),
    and click <b>spot</b> (the dot between table cards) where you want it to be moved. Pay attention to requirements, <b> green button means requirements me.</b></li>
    <li>After each move, click "EXECUTE" to execute all the commands you used. However, you can use as many moves as you want, as long as the final result contains only valid combinations in the table.
        So whether you're creating a new combination or just putting/moving a card, try to see if you can't use other commands after, new moves might now be available.
    </li>
    <li>In tab "Prompt" you can remove the last move or clear all your moves. At the top of the page, on the purple/pink background, you can click the spinning wheel to deselect all table cards, deck cards and spots.</li>
    <li>You can't manipulate the enemy's deck, but you can manipulate all combinations. You can move cards around and split combinations however you want.
        Use that to gain advantage. You can always see whether  your moves are correct at the moment by looking at  "Info?errors" tab. 
        Purple means it's invalid but can be possibly fixed in the next moves.
    </li>
</ol>
</section>

<a href="/" class="navigation-significant-link" data-turbo="false">Back</a>

</article>
<% end %>