<%= render 'top' %>

<%= turbo_frame_tag "turbomain" do %>
<article>
<section>
<h2> Move commands</h2>
<p>Move commands are added to the "Prompt" tab and are the basic elements of which each move consists of. 
    Remember to check requirements (in parentheses on buttons) and select required objects by clicking on them in the "Table" section.
You can use first letter of their name as keyboard shortcut.</p>
<ul>
    <li><mark>n/new combination</mark> &mdash; Creates a new combination. <b>Requires:</b> 3 deck cards</li>
    <li><mark>p/put card</mark> &mdash; Puts one card into any place in any combination in the Table. <b>Requires:</b> 1 deck card, 1 table spot</li>
    <li><mark>m/move</mark> &mdash; Moves the table card to another place. Can move between combinations as well. <b>Requires:</b> 1 table card, 1 table spot</li>
    <li><mark>b/break combination</mark> &mdash; Splits one combination into two other combinations. <b>Requires:</b> 1 table spot</li>
</ul>
<p><b>Where:</b> Table card is card from one of the combinations in Table (region below player's deck). 
    Deck card is a card from player deck, you can see them on a yellow background on top of the page.
    Table spot is a dot between table cards, it marks a place where cards can be moved, combinations split, etc.</p>
    <p><b>Syntax:</b> "[letter][origin]:[destination] where <i>letter</i> is command's first letter, 
    <i>origin</i> a pair "[comb no]:[card no]" (if multple separated by commas, no spaces) and <i>destination</i> also "[comb no]:[card no]". 
    When you don't need some of the numbers, just leave them with '0'.
    Also, '.' means '0', and '_' means '0:0'</p>
</section>

<section>
<h2> Control commands</h2>
<p>Used to direct the flow of the game.</p>
<ul>
    <li><mark>execute</mark> &mdash; Technically it isn't a command available in the console mode but is used to execute all move commands and switch player turn.
    Use it after you performed all other move commands to finalize the result. Check whether there are no warnings in "Info/Errors" tab first.</li>
    <li><mark>draw</mark> &mdash; draws a card from table deck and switches player turn. Used if you don't see any valid moves to perform. 
    You don't want to use it unless you have no choice, as it takes you away from the goal of getting rid of all your cards. 
    When no more cards can be drawn, you need to use "skip" instead. Console mode cmd: 'd'</li>
    <li><mark>skip</mark> &mdash; Allows you to skip a turn. Available only if there are no more cards to draw.
    Note that all skips are being remembered, and in case of player giving up, they will be displayed and can be used to determine the winner.
    Console mode cmd: 's'</li>
    <li><mark>give up</mark> &mdash; Ends the game and marks you as a loser. Displays both players skip scores as well.
    You can't give up unless all the cards have been drawn. Console mode cmd: 'g'</li>
</ul>
</section>

<section>
<h2> Extra commands</h2>
<p>Extra commands can be executed via address <b>/cmd?name=NAME&args=ARGS</b> where <i>NAME</i> and <i>ARGS</i> are the names of commands and args</p>
<p>Both helper commands and cheat commands don't trigger a swap of player turns; one can still use prompt after using them.</p>
<p>When using the console mode, commands have the following format: <mark>SIGNname args</mark> where 
<i>SIGN</i> is '%' for cheat commands and '&' for helper commands. When no args given, you will be asked to provide them via the console's input stream (no equivalent in web)</p>
</section>

<section>
<h3>Cheat commands</h3>
<p> Cheat commands will mark a player as a cheater for other players! Here are the cheat commands:</p>
<ul>
    <li><mark>cheat.get/cget</mark> &mdash; used to obtain all cards given as parameters. Doesn't affect drawdeck at all. Example: 'cget 2d 3d 4d'</li>
    <li><mark>cheat.draw/cdraw</mark> &mdash; used to obtain all cards given as parameters, it removes them from drawdeck. Example: 'cdraw 2d 3d 4d'</li>
    <li><mark>cheat.deck/cdeck</mark> &mdash; sets the deck to contain ONLY card listed as parameters. 
    Doesn't affect drawdeck and cards removed from player's deck are not recovered into drawdeck. Example: 'cdeck 2d 3d 4d'</li>
</ul>
</section>

<section>
<h3>Helper commands</h3>
<p> Helper commands output some extra info for the player to use in constructing the prompt. Here are the cheat commands:</p>
<ul>
    <li><mark>deck</mark>: Lists all cards in the deck along with their numbers in deck. Used to help find number of given card. Example: 'deck'</li>
    li><mark>comb</mark>: Lists all cards in combination with the given number, along with their numbers in that combination.
    Used to help find number of given card. Example: 'comb 0'</li>
    <li><mark>...</mark>: Shows cards affected by the last executed move-command.</li>
</ul>
</section>
<a href="/" class="navigation-significant-link" data-turbo="false">Back</a>
</article>
<% end %>