<%= render 'top' %>

<%= turbo_frame_tag "turbomain" do %>
<article>

<section>
<h2>How to play?</h2>
<p>You want to get rid of your cards by putting them into combinations in the table.</p>
<p>On player turn, a player can make as many moves as they want, as long as, at the end, all combinations are valid.</p>
<p>Valid combination is either <b>iteration</b> or <b>gradation</b>.</p>
<p>Gradation is a group of cards where each card has the same suit, but their value is increasing by exactly one from left to right.
    Start and end can be arbitrary. Order of cards is as follows: Ace, two to ten, Jack, Queen, King.
    Minimum three cards required.</p>
<p>Iteration is a group of cards of the same value but different suits. No duplicates allowed and minimum three cards required.</p>
<p>Examples: <ul>
    <li>3d 4d 5d 6d &mdash; valid gradation</li>
    <li>3d 5d 6d 7d &mdash; NOT valid gradation</li>
    <li>3d 5d &mdash; NOT valid gradation</li>
    <li>3d 3s 3h &mdash; valid iteration</li>
    <li>3d 3s 3h 3c &mdash; valid iteration</li>
    <li>3d 3s 3s &mdash; NOT valid iteration</li>
    <li>3d 3s &mdash; NOT valid iteration</li>
</ul></p>
<p>When a player can't make a valid move, they need to draw a card from the drawboard.
    When there are no more cards to draw, they scan kip the turn, which is noted and the number of skips displayed at the end of the game in case of giving up.</p>
<p>First player to reach the point of having no cards in their deck wins.</p>
</section>

<a href="/" class="navigation-significant-link" data-turbo="false">Back</a>

</article>
<% end %>