/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Google Fonts */
.unifrakturcook-bold {
	font-family: "UnifrakturCook", cursive;
	font-weight: 700;
	font-style: normal;
}
  
 
body {
	background-color: mintcream;
	font-size: 1.5em;
	font-family: Garamond;
	margin: 0;
   padding: 0;
}

a {
	text-decoration: none;
}


mark {
	display: inline-block;
	border-radius: 4px;
	color: crimson;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 0.8em;
	padding: 4px;
	background-color: ivory;
}

section {
   max-width: 1200px;
   text-align: justify; 
 }

section.small-section {
  text-align: left; 
}

article {
   max-width: 1200px;
   margin: 0 auto;
}

a.back-link {
   color: lime;
}

.navigation-significant-link {
	color: lime;
	text-decoration: underline;
}

.explanation-info {
	color: gray;
	font-size: 0.6em;
}

#copy {
	padding-bottom: 200px;
}

h3.title-with-bar::after {
  display: block;
  border-top: 1px solid darkgray;
  content: '';
}


button.submit-dangerous, input[type=button].submit-dangerous,
input[type=submit].submit-dangerous {
	background-color: red;
	color: white;
	border-color: red;
}
