

#display {
	margin: 10px;	
}

#display .card {
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px 5px 10px;
}

#display .card:hover {
	cursor: pointer;
}

#display .card.card--selected {
	border: 5px solid deepskyblue;
	border-radius: 3px;
	padding: 5px 5px 0 5px;

}

#display .spot {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding-top: 64px;
	color: darkgray;
}


#display .spot:hover {
	color: lightgray;
	cursor: pointer;
}


#display .spot.spot--selected {
	color: green;
}

 button, input[type=button], input[type=submit] {
	font-family: "Lucida Console", "Courier New", monospace;
	background-color: snow;
	padding: 2px;
	border: 3px solid deepskyblue;
	border-radius: 10px;
}

#display input[type=text] {
	border: 0;
	border-bottom: 2px solid black;
	background: white;
}

#display input[type=text]:focus {
	border: 0;
	border-bottom: 2px solid deepskyblue;
	outline: none;
}

#logo {
	color: RebeccaPurple;
	text-decoration: none;
	font-size: 64px;
	text-align: center;
	background-color: lightsteelblue;
}

.infolink {
	color: lightgray;
	text-decoration: underline;
}

.infolink.small-infolink {
	font-size: 20px;
}

#player-names input[type=text] {
	font-size: 0.7em;
	width: 80px;
}


#player-names {
	margin-left: 70%;
}