body {
	/* background-color: beige; */
	font-size: 1.5em;
}

#display .card:hover {
	cursor: pointer;
}

#display .card.card--selected {
	color: deepskyblue;
}



#display .spot {
	color: darkgray;
}


#display .spot:hover {
	color: lightgray;
	cursor: pointer;
}


#display .spot.spot--selected {
	color: green;
}

#display button, #display input[type=button], #display input[type=submit] {
	background-color: white;
	border: 3px solid deepskyblue;
	border-radius: 10px;
}

